In [ ]:
a=5
b=5
a+b

In [ ]:
print('anil kumar')

In [ ]:
print("anilkumar")

In [ ]:
print("""anilkumar""")

In [ ]:
type('anilkumar')

In [ ]:
type('123')

In [ ]:
type('@#$')

In [ ]:
type('0.5')

In [46]:
full_name="anilkumar"
print(full_name)

anilkumar

In [16]:
a=1;b=2;c=3
print(a)

1

In [17]:
print(a,b,c)

1 2 3

In [18]:
a=b=c=0

In [19]:
print(a)

0

In [20]:
a,b,c=1,2,3
print(b)

2

In [21]:
a=(1,2,3,4,5)

In [22]:
print(a[3])

4

In [23]:
print(a
    )

(1, 2, 3, 4, 5)

In [31]:
a=1
print(a)

1

In [40]:
print('what\'s','anilkanna') #normal

what's anilkanna

In [37]:
print('what\'s','\nanilkanna') #new line

what's
anilkanna

In [39]:
print('what\'s','\t anilkanna') #tab space

what's 	 anilkanna

In [41]:
ex1="anil kanna"
ex1.title()

'Anil Kanna'

In [42]:
ex1.upper()

'ANIL KANNA'

In [43]:
ex1.lower()

'anil kanna'

In [44]:
ex1.swapcase()

'ANIL KANNA'

In [45]:
ex1.split('a')

['', 'nil k', 'nn', '']

In [48]:
full_name="anilkumar"
print(full_name.title())

Anilkumar

In [49]:
full_name="anilkumar"
print(full_name.lower())

anilkumar

In [50]:
full_name="anilkumar"
print(full_name.upper())

ANILKUMAR

In [55]:
full_name="anilkumar"
print(full_name.upper())

ANILKUMAR

In [57]:
full_name="Anil Kumar"
print(full_name.swapcase())

aNIL kUMAR